@tailwind base;
@tailwind components;
@tailwind utilities;

.progressBar {
  width: 0;
  height: 4px;
  background: #133bc0;
  animation: progressBarAnimation 2s ease-out forwards;
}

@keyframes progressBarAnimation {
  to {
    width: 100%;
  }
}
